<main class="form-signin">
    <form method="post" action="/skladiste/action/authenticate.php" id="authform">
      <h1 class="h3 mb-3 fw-normal">PRIJAVA</h1>
      <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Korisničko ime">
        <label for="floatingInput">Korisničko ime</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Lozinka">
        <label for="floatingPassword">Lozinka</label>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-primary">Prijavi se</button>
    </form>
    <p class="black"><br><a href="index.php"><b>Početna</b></a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </main>